

<ion-content>
  <!-- <ion-row>
    <ion-col>
      <h1 style="text-align: center; font-size: 40px; font-weight: bold; color: green;">NAVER</h1>
    </ion-col>
  </ion-row> -->

  <div class="main-wrap">
    <div class="wrap-box">
      <div class="title">
        <h1>NAVER</h1>
      </div>
      <div class="input-text">
        <input placeholder="아이디">
      </div>
      <div class="input-pw">
        <input placeholder="비밀번호">
      </div>
      <div class="button">
        <button href="#">로그인</button>
      </div>
      <div class="double-class">
        <div class="check-box">
          <ion-icon name="checkmark-circle-outline"></ion-icon>로그인 상태 유지
        </div>
        <div class="ip">
          <b>IP</b>보안
          <span>ON</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>