
<ion-content>
<div class="main-wrap">
  <div class="wrap-box">
      <div class="card-box">
      <p class="img">
       <img src="assets/img/summer1.jfif" alt="카드이미지1">
      </p>
      <div class="textbox">
        <div>
          <p class="tit">
            Seamlessly cisualize quality
         </p>
         <p class="txt">
            Collaboratively<br>administrate empowered<br> 
            markets via plug-and<br>-play networks.
         </p>
        </div>

        <div>
          <p class="more">
            <b><a href="#" class="moreBtn">read more
              <ion-icon name="arrow-forward-outline"></ion-icon>
              </a></b> 
          </p>
        </div>


      </div>
      </div>
      <div class="card-box">
      <p class="img">
      <img src="assets/img/summer2.jfif" alt="카드이미지2">
      </p>
      <div class="textbox">
        <div>
          <p class="tit">
              Completely Synergize
          </p>
          <p class="txt">
              Dramatically engage<br>seamlessly visualize<br>quality intellectuarl<br>
              capital without superior<br>collaboration and idea-<br>sharing.
          </p>
        </div>

        <div>
          <p class="more">
            <b><a href="#" class="moreBtn">read more
            <ion-icon name="arrow-forward-outline"></ion-icon>
            </a></b> 
          </p>
        </div>
      </div>
      </div>
      <div class="card-box">
      <p class="img">
        <img src="assets/img/summer3.jfif" alt="카드이미지3">
      </p>
      <div class="textbox">
        <div>
          <p class="tit">
            Dynamically Procrastinate
         </p>
         <p class="txt">
            Completely synergize<br>resource taxing
         </p>
        </div>

        <div>
          <p class="more">
            <b><a href="#" class="moreBtn">read more
            <ion-icon name="arrow-forward-outline"></ion-icon>
            </a></b> 
          </p>
        </div>


      </div>
      </div>
      <div class="card-box">
        <p class="img">
        <img src="assets/img/summer4.jfif" alt="카드이미지4">
        </p>
      <div class="textbox">
        <div>
          <p class="tit">
            Best in class
          </p>
          <p class="txt">
            Imagine jumping into<br>that boat, and just<br>
            letting it sail wherever<br>the wind takes you..
          </p>
        </div>

        <div>
          <p class="more">
            <b><a href="#" class="moreBtn">read more
            <ion-icon name="arrow-forward-outline"></ion-icon>
            </a></b> 
           </p>
        </div>


      </div>
      </div>
      <div class="card-box">
        <p class="img">
        <img src="assets/img/summer5.jfif" alt="카드이미지5">
        </p>
      <div class="textbox">
        <div>
          <p class="tit">
            Dynamically innovate<br>supply chains
          </p>
          <p class="txt">
            Holisticly predominate<br>extensible testing<br>
            procedures for reliable supply chains.
          </p>
        </div>

        <div>
          <p class="more">
            <b><a href="#" class="moreBtn">read more
            <ion-icon name="arrow-forward-outline"></ion-icon>
            </a></b> 
           </p>
        </div>


      </div>
      </div>
      <div class="card-box">
        <p class="img">
        <img src="assets/img/summer6.jfif" alt="카드이미지6">
        </p>
      <div class="textbox">
        <div>
          <p class="tit">
            Sanity check
          </p>
          <p class="txt">
            Objectively innovate<br>empowered manufactured<br>
            products whereas parallel platforms.
          </p>
        </div>

        <div>
          <p class="more">
            <b><a href="#" class="moreBtn">read more
            <ion-icon name="arrow-forward-outline"></ion-icon>
            </a></b> 
           </p>
        </div>


      </div>
    </div>
  </div>
</div>
</ion-content>
